body{
font-family:sans-serif;
text-align:center;
background:#f7fbff;
margin:0;
}

/* header */

.header{
background:linear-gradient(90deg,#ffb6d9,#bde7ff);
padding:30px;
color:#444;
}

/* task input */

.taskInput{
margin:20px;
}

input,select,button{
padding:10px;
margin:5px;
border-radius:10px;
border:none;
}

button{
background:#ffb6d9;
cursor:pointer;
}

/* todo list */

li{
list-style:none;
background:white;
margin:10px auto;
padding:12px;
width:320px;
border-radius:15px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
display:flex;
justify-content:space-between;
align-items:center;
}

.tag{
background:#bde7ff;
padding:4px 8px;
border-radius:8px;
font-size:12px;
margin-left:8px;
}

/* timer */

.timerArea{
margin-top:30px;
}

#timer{
font-size:40px;
margin:20px;
color:#ff8acb;
}

/* progress */

.progressArea{
margin:30px;
}

.progressBar{
width:300px;
height:20px;
background:#eee;
margin:auto;
border-radius:20px;
overflow:hidden;
}

#progress{
height:100%;
width:0%;
background:linear-gradient(90deg,#ffb6d9,#bde7ff);
}
